body{
    color: #333;
    font:12px/22px "微软雅黑";
}
header{
    width: 960px;
    height: 97px;
    margin: 0 auto;
}
.logo{
    height:35px;
    width: 240px;
    font:30px/35px "黑体";
    padding-top: 35px;
    padding-left: 50px;
    background: url(../images/logo.png)  no-repeat left center;
    background-repeat: no-repeat;
    background-position:0 35px;
    background-size: 35px;
    color: #515151;
    
}
.main{
    width: 100%;
    height: 400px;
    margin-top: 35px;
    background: #2980b6 url(../images/map.jpg)  no-repeat center center;
}
.mainBox{
    width: 960px;
    height: 360px;
    padding-top: 40px;
    margin: 0 auto;
}
.loginBox{
    width: 260px;
    height: 280px;
    padding: 20px;
    background-color: #fff;
    margin-left: 610px;
    box-shadow: #666 0 0 3px;
}
.textBorder{
    border: solid 1px #cbced0;
    height: 36px;
    margin-top: 20px;
    padding-left: 10px;
    /*使字体在框中后移10px*/
    width: 248px;
}
.yzmbox {
    height: 40px;
}
#login{
    background: #3fb3b2;
    border: none;
    cursor: pointer;
    font: 18px/40px "微软雅黑";
    height: 40px;
    width: 260px;
    color:#ffffff;
}
.copy {
    text-align: center;
    color: #888;
    padding-top: 20px;
}

#mpanel1 {
    padding-top: 20px;
}

.verify-code {
    float: right;
    margin-top: 5px;
    margin-right: 20px;
}

.verify-code-area {
    width: 90px !important;
    float: left;
    margin-top: 5px;
}